<!DOCTYPE html>
<html>
    <head>
        <title>Sariyah's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Sariyah's Blog</a></h1>
        </header>

        <article>
            <time>published: 02.20.2023 16:05</time>
            <h2><a href="">My first post</a></h2>
            <p>I like bagels.</p>
        </article>

        <article>
            <time>published: 02.20.2023 16:05</time>
            <h2><a href="">My second post</a></h2>
            <p>Hi.</p>
        </article>
    </body>
</html>